.box, .outline {
    position: absolute;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px solid #ff9292;
    background: rgb(221, 176, 176);
}

.outline {
    min-width: 300px;
    min-height: 300px;
    border: 1px dashed #000000;
}
